.Authform {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
	padding: 50px;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	backdrop-filter: blur(100px);
	border: 1px solid white;
	box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4),
		-10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
}
.inuptsArea {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.inuptsArea input {
	color: white;
	background-color: transparent;
	padding: 15px;
	border: none;
	font-size: 15px;
	width: 100%;
	border-bottom: 2px solid #999;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
label {
	transform: translateY(-80%);
}
.titlefield {
	margin: 20px;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.desc {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	margin: 20px;
	position: relative;
}
.inuptsArea label {
	padding: 5px;
	transition: 0.3s ease-in-out;
	color: #999;
	font-weight: bold;
	left: 0;
	position: absolute;
}

.email {
	margin: 20px;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.buttons {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
.buttons a {
	padding: 10px;
	width: 100px;
}

.buttons button {
	border-radius: 0;
	background-color: #66c2ff;
}
input.invalid {
	border-bottom: 2px solid #fd0808;
}
button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
