.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 500px;
	padding: 50px;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	backdrop-filter: blur(100px);
	border: 1px solid white;
	box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4),
		-10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
}
.inuptsArea {
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
textarea:focus {
	outline: none;
}
.inuptsArea input {
	color: white;
	background-color: transparent;
	padding: 15px;
	border: none;
	font-size: 15px;
	width: 100%;
	border-bottom: 2px solid #999;
	box-sizing: border-box;
}
.titlefield {
	margin: 40px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.desc textarea {
	color: white;
	border: none;
	background-color: transparent;
	height: 80%;
	width: 90%;
	font-size: 20px;
	padding: 15px;
	border-bottom: 2px solid #999;
}
.desc {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 80%;
	margin: 20px;
}

.inuptsArea label {
	padding: 5px;
	color: #999;
	font-weight: bold;
	width: 100%;
	text-align: start;
}

.buttonsArea {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 20px;
}
.buttonsArea button {
	margin: 10px;
	border-radius: 0;
}

@keyframes example {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}
.error {
	background-color: #fa7777;
	border: 2px solid #fd0808;
	animation: example 500ms ease-in-out forwards;
	color: 'black';
	padding: 5px;
}
