.section {
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.section h1 {
	font-size: 70px;
}
.section span {
	font-size: 30px;
}
.section p {
	text-align: end;
	margin: 100px;
	width: 100%;
	font-weight: bold;
}
.section form {
	display: flex;
	justify-content: flex-end;
}
.section button {
	border-radius: 0;
	background-color: #66c2ff;
	padding: 10px;
	width: 100px;
}
